<template>
  <v-container fluid class="down-top-padding">
    <v-row>
      <v-col lg="12">
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Customers</v-col>
              <v-spacer></v-spacer>
              <v-col>
                <v-btn
                  tile
                  color="primary"
                  class="float-right"
                  @click="customerItem()"
                >
                  <v-icon left>
                    mdi-plus-thick
                  </v-icon>
                  Add Customer
                </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text class="pa-5">
            <CustomerTable ref="customerTable"></CustomerTable>
            
            <CustomerActionModal
              ref="customerModal"
              :item-data="itemData"
              :item-action="itemAction"
              @added="newCustomerAdded"
            ></CustomerActionModal>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CustomerTable from "@/components/customer/CustomerTable"
import CustomerActionModal from "@/components/customer/CustomerActionModal"
export default {
  components: {
    CustomerActionModal,
    CustomerTable
  },
  data() {
    return {
      itemData: null,
      itemAction: null,
    }
  },
  methods: {
    customerItem(action = "add", data = null) {
      this.itemAction = action;
      this.itemData = data;
      this.$refs.customerModal.openModal();
    },
    newCustomerAdded() {
      this.$refs.customerTable.getCustomers();
    }
  },
};
</script>
