<template>
  <v-container fluid class="down-top-padding">
    <v-row>
      <v-col lg="12">
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Customers Details</v-col>
            </v-row>
          </v-card-title>
          <v-card-text class="pa-5">
            <v-row>
              <v-col md="4" sm="12" cols="12">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <h3>Name:</h3>
                        <v-subheader>{{customerDetails.name}}</v-subheader>
                      </td>
                      <td>
                        <h3>Mobile:</h3>
                        <v-subheader>{{customerDetails.phone}}</v-subheader>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h3>Address:</h3>
                        <v-subheader>{{customerDetails.address}}</v-subheader>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <v-card
                  :elevation="4"
                >
                <v-card-title>
                  Add new Measurement
                </v-card-title>
                <v-card-text>
                <v-form
                  ref="form"
                  v-model="valid"
                >
                  <v-file-input
                    v-model="file"
                    :rules="fileRules"
                    accept="image/png, image/jpeg, image/bmp"
                    placeholder="Select an Image"
                    prepend-icon="mdi-camera"
                    label="Upload Image"
                    ref="upload"
                  ></v-file-input>

                  <v-textarea
                    outlined
                    label="Notes"
                    v-model="notes"
                  ></v-textarea>

                  <v-btn
                    :disabled="!valid"
                    :loading="processing"
                    color="success"
                    class="mr-4"
                    @click="createMeasurement()"
                  >
                    Add Measurement
                  </v-btn>
                </v-form>
                </v-card-text>
                </v-card>
              </v-col>
              <v-col md="8" sm="12" cols="12">
                <v-data-table
                  :headers="headers"
                  :items="measurements"
                  :search="search"
                  :loading="gettingMeasurements"
                >
                  <template v-slot:item.created_at="{ item }">
                    {{item.created_at|formatDate}}
                  </template>
                  <template v-slot:item.image="{ item }">
                    <a target="_blank" :href="item.image"><img :src="item.image" width="100" height="100"></a>
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
            
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import 'vuejs-noty/dist/vuejs-noty.css'
import axios from 'axios'
export default {
  data() {
    return {
      customerId: this.$route.params.customer_id,
      customerDetails: {},
      measurements:[],
      search: '',
      headers: [
        { text: 'Date', value: 'created_at' },
        { text: 'Image', value: 'image', filterable: false },
        { text: 'Notes', value: 'notes', filterable: false },
        // { text: 'Actions', value: 'actions', filterable: false },
      ],
      file: null,
      notes: null,
      valid: false,
      gettingMeasurements: false,
      processing: false,
      fileRules: [
        v => !!v || 'File is required'
      ],
    };
  },
  methods: {
    addMeasurement() {},
    async getCustomerDetails() {
      this.processing = true;
      try {
        let customerResponse = await axios.get(`v1/customer/${this.customerId}`);
        console.log(customerResponse);
        this.customerDetails = customerResponse.data.data;

        this.success = true;
      } catch (err) {
        this.validationErrors = this.processCatch(err);
      }
      this.processing = false;
    },
    async createMeasurement() {
      this.$refs.form.validate();
      if( ! this.valid ) return;

      if (this.file) {
        this.processing = true;
          let formData = new FormData();
          
          formData.append("image", this.file);
          formData.append("notes", this.notes);
          formData.append("customer_id", this.customerId);
          
          try {
            let response = await axios.post("v1/customer/measurement", formData, {
              headers: {
                "Content-Type": "multipart/form-data",
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Headers': '*',
                'Accept': 'application/json, text/plain'
              }
            });
            // console.log(response)
            this.notes = '';
            this.file = null;
            this.$noty.success("Measurement added successfully.")
            this.getAllMeasurements()
          } catch (error) {
            if( error.response.status == 422 ) {
              this.$noty.error("Upload File size is greater than 3 MB")
            } else {
              this.$noty.error("Error Occurred while processing!")
            }
            
          }
          this.processing = false;
          
      }
    },
    async getAllMeasurements() {
      this.gettingMeasurements = true;
      try {
        let res = await axios.get('v1/customer/measurement', {
          params: {
            'customer_id': this.customerId
          }
        });
        this.measurements = res.data.data
      } catch (error) {
        console.log(error);
      }
      this.gettingMeasurements = false;
    }
  },
  mounted() {
    this.getCustomerDetails();
    this.getAllMeasurements();
  },
};
</script>
