<template>
  <v-container fluid class="down-top-padding">
    <v-row class="justify-center">
      <v-col md="3" sm="12">
        <v-card>
          <v-card-title>Login</v-card-title>
          <v-card-text class="pa-5">
            <v-alert
              type="warning"
              v-if="error"
            >Invalid login details</v-alert>
            <v-form ref="form" v-model="valid">
              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>

              <v-text-field
                v-model="password"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="passwordRules"
                label="Password"
                required
                @click:append="show1 = !show1"
              ></v-text-field>

              <v-btn
                :disabled="!valid"
                color="primary"
                class="mt-4"
                @click="validate"
              >
                Submit
              </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    valid: true,
    email: "",
    // email: "abhi@style.com",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    show1: false,
    // password: "password121",
    password: "",
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) => v.length >= 8 || "Min 8 characters required",
    ],
    error: null
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
      if (!this.valid) return;

      let email = this.email;
      let password = this.password;
      this.$store
        .dispatch("login", { email: email, password: password })
        .then(() => {
          this.error = false;
          if ("redirect" in this.$route.query) {
            this.$router.push(this.$route.query.redirect);
          } else {
            // console.log('here')
            this.$router.push({ name: "Customers" });
          }
        })
        .catch((err) => {
          if (err) {
            this.error = true;
          }
        });
    },
  },
};
</script>
