<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="600">
      <v-card>
        <v-card-title class="headline">
          {{ this.itemAction }} Customer
        </v-card-title>
        <v-card-text>
          <validation-errors :errors="validationErrors" />
          <v-alert type="success" v-if="success">Saved Successfully</v-alert>
          <v-form ref="form" v-model="valid">
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="Name"
            ></v-text-field>

            <v-text-field
              v-model="phone"
              :rules="phoneRules"
              label="phone"
            ></v-text-field>

            <v-textarea
              outlined
              label="Address"
              v-model="address"
            ></v-textarea>

            <v-btn
              :disabled="!valid"
              color="success"
              class="mt-3 mb-3"
              @click="processItem()"
              :loading="processing"
            >
              <span v-if="itemAction == 'copy' || itemAction == 'add'"
                >Save</span
              >
              <span v-else>Update</span>
            </v-btn>

            <v-btn
              class="ml-3"
              color="primary"
              outlined
              @click="dialog = false"
            >
              Close
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
import validationErrorsMixin from "@/shared/mixins/ValidationErrorsMixin";
export default {
  mixins: [validationErrorsMixin],
  components: {},
  props: {
    itemData: Object,
    itemAction: {
      default: "add",
      type: String,
    },
  },
  data() {
    return {
      dialog: false,
      success: false,
      processing: false,
      valid: false,
      name: this.itemData ? this.itemData.name : "",
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length > 3) || "Must be greater than 3 characters",
      ],
      phone: this.itemData ? this.itemData.phone : "",
      phoneRules: [
        (v) => !!v || "Phone is required",
        (v) => (v && v.length >= 10) || "Must be greater than 9 characters",
        (v) => !isNaN(v) || "Must be a number",
      ],
      address: this.itemData ? this.itemData.address : "",
    };
  },
  methods: {
    openModal: function() {
      this.dialog = true;
    },
    processItem() {
      switch (this.itemAction) {
        case "add":
          this.saveItem();
          break;
        case "edit":
          this.updateItem();
          break;
        default:
        // code block
      }
    },
    async saveItem() {
      this.validationErrors = [];
      console.log("saveItem");
      this.$refs.form.validate();
      if (!this.valid) {
        return;
      }
      this.success = false;
      this.processing = true;
      try {
        await axios.post("v1/customer", {
          name: this.name,
          phone: this.phone,
          address: this.address,
        });
        this.success = true;
        this.$emit('added')
      } catch (err) {
        this.validationErrors = this.processCatch(err);
      }
      this.processing = false;
    },
    async updateItem() {
      this.validationErrors = [];
      console.log("updateItem");
      this.$refs.form.validate();
      if (!this.valid) {
        return;
      }
      this.success = false;
      this.processing = true;
      try {
        await axios.put(`v1/customer/${this.itemData.id}`, {
          name: this.name,
          phone: this.phone,
          address: this.address,
        });
        this.success = true;
        this.$emit('updated')
      } catch (err) {
        this.validationErrors = this.processCatch(err);
      }
      this.processing = false;
      
    },
  },
  computed: {
    codeDisabled() {
      return this.itemAction == "edit" || this.itemAction == "copy";
    },
  },
  watch: {
    itemData: function(newVal, oldVal) {
      if (newVal) {
        this.validationErrors = [];
        this.success = false;
        this.name = newVal.name;
        this.phone = newVal.phone;
        this.address = newVal.address;
      }
    },
    itemAction: function(newVal, oldVal) {
      this.success = false;
      this.validationErrors = [];
      if (newVal == "add") {
        this.itemData = null;
        this.name = "";
        this.phone = "";
        this.address = "";
      }
    },
  },
};
</script>

<style scoped>
.headline {
  text-transform: capitalize;
}
</style>
