<template>
  <div>
    <v-row class="justify-center">
      <v-col md="6">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          md="6"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      
      :items="customers"
      
      :loading="loader"
      class="elevation-1 mt-4"
      :search="search"
    >
      <template v-slot:item.name="{ item }">
        <!-- <span class="cursor-pointer" @click="customerDetails(item.id)">{{item.name}}</span> -->
        <v-chip class="cursor-pointer" @click="customerDetails(item.id)">{{item.name}}</v-chip>
      </template>
      <template v-slot:item.created_at="{ item }">
        {{item.created_at|formatDate}}
      </template>
      <template v-slot:item.updated_at="{ item }">
        {{item.updated_at|formatDate}}
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon class="mr-5" @click="clientItem('edit', item)"
          >mdi-pencil</v-icon
        >
        <v-icon @click="deleteItem(item)">mdi-delete</v-icon>
      </template>
    </v-data-table>
    <CustomerActionModal
      ref="customerModal"
      :item-data="itemData"
      :item-action="itemAction"
      @updated="getCustomers()"
    ></CustomerActionModal>

    <CustomerDeleteModal
      ref="deleteCustomerModal"
      :item-data="itemData"
      @deleted-item="itemDeleted"
    ></CustomerDeleteModal>
  </div>
</template>

<script>
import axios from 'axios'
import CustomerActionModal from "@/components/customer/CustomerActionModal"
import CustomerDeleteModal from "@/components/customer/CustomerDeleteModal"
export default {
  components: {
    CustomerActionModal,
    CustomerDeleteModal
  },
  data() {
    return {
      headers: [
        { text: "Name", value: "name", align: "left", class: "strong" },
        { text: "Mobile", value: "phone", align: "left" },
        { text: "Address", value: "address", align: "left" },
        { text: "Created at", value: "created_at", align: "left" },
        { text: "Updated at", value: "updated_at", align: "left" },

        { text: "Actions", value: "actions", sortable: false },
      ],
      search: '',
      loader: false,
      options: {},
      totalItems: null,
      customers: [],
      itemData: {},
      itemAction: '',
    };
  },
  methods: {
    customerDetails(customerId) {
      console.log(customerId);
      this.$router.push(`/dashboard/customer-details/${customerId}`)
    },
    async clientItem(action = "edit", data = null) {
      // console.log(data);
      this.itemData = data;
      this.itemAction = action;
      this.$refs.customerModal.openModal();
    },
    deleteItem(data) {
      this.itemData = data;
      this.$refs.deleteCustomerModal.openModal();
    },
    async getCustomers() {
      try {
        this.loader = true;
        let customerResponse = await axios.get("v1/customer", {
        });

        let res = customerResponse.data;

        this.customers = res.customers;
        this.totalItems = res.total_items;
        this.loader = false;

      } catch (err) {
        console.error(err);
      }
    },
    itemDeleted(data) {
      console.log(data);
      this.customers = this.customers.filter((e) => {
        return e.id != data.id;
      });
    },
  },
  mounted() {
    this.getCustomers();
  }
};
</script>
<style>
.cursor-pointer {
  cursor: pointer;
}
</style>