<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="600">
      <v-card>
        <v-card-title class="headline">
          Delete Customer
        </v-card-title>
        <v-card-text>
          <v-alert
            class="mb-0"
            type="success"
            v-if="success"
          >Customer deleted successfully.</v-alert>
          
          <v-alert
            class="mb-0"
            border="left"
            colored-border
            type="warning"
            elevation="2"
            v-if="itemData && !success"
          >
            This action can not be undone. Are you sure you want to delete discovery code <strong>{{ itemData.name }}</strong>
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            outlined
            @click="deleteItem()"
            :loading="processing"
            v-if="!success"
          >
            I am sure
          </v-btn>

          <v-btn
            color="primary"
            outlined
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
        
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
export default {
  components: {},
  props: {
    itemData: Object,
  },
  data() {
    return {
      dialog: false,
      success: false,
      processing: false
    }
  },
  methods: {
    openModal: function() {
      this.dialog = true;
    },
    async deleteItem() {
      
      this.success = false;
      this.processing = true;
      try {
        let deleteResponse = await axios.delete(`v1/customer/${this.itemData.id}`);
        this.success = true;
        this.$emit('deleted-item', deleteResponse.data.data)
      } catch (err) {
        console.error(err);
      }
      this.processing = false;
    },
  },
  watch: { 
    itemData: function(newVal, oldVal) {
      if( newVal ) {
        this.success = false;
      }
    }
  }
};
</script>
